.header {
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  position: fixed;
  z-index: 100;
  width: 100%;

  @include vp-1023 {
    position: absolute;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 35px;

  @include vp-1023 {
    padding: 8px 60px 25px 40px;
  }

  @include vp-767 {
    padding: 7px 25px 20px 16px;
  }
}

.header__link {
  margin-right: 15px;
}

.header__contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 480px;
  max-width: 540px;

  @include vp-1023 {
    min-width: 100px;
    justify-content: space-between;
  }

  div:hover {
    opacity: 60%;
  }

  div a:active,
  div a:focus {
    opacity: 30%;
  }

  a {
    display: flex;
    align-items: center;
    padding: 10px 0;
    user-select: none;

    @include vp-1023 {
      padding: 10px;
    }
  }

  span {
    margin-left: 15px;

    @include vp-1023 {
      display: none;
    }
  }
}

.header__email {
  margin-right: 120px;

  @include vp-1023 {
    margin-right: 0;
  }
}

.header__button {
  border-color: $secondary-color;
  margin-right: 60px;
  max-width: 160px;

  @include vp-1023 {
    display: none;
  }
}

.header__button:hover {
  border-color: $other-color;
}

.header__button:active,
.header__button:focus {
  background-color: $other-color;
}

.header__logo {
  user-select: none;

  @include vp-767 {
    width: 35px;
    height: 35px;
    display: block;
  }

  img {
    margin-top: 5px;

    @include vp-1023 {
      margin-top: 11px;
    }

    @include vp-767 {
      margin-top: 8px;
    }
  }
}

.header__logo:hover img {
  opacity: 80%;
}

.header__logo:focus img,
.header__logo:active img {
  opacity: 60%;
}
